* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fdfafa;
    padding: 50px;
    margin: 50px;
  }

  h1{
    text-align: center;
  }

  .items{
    align-items: center;
    width: 400px;
    margin-right: 70px;
    color: red;
    font-weight: bold;
  }
  
  .items h2, th, td, input, tr {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
  }
  
  .items th, td {
    padding: 10px;
  }

  .items input{
    width: 50px;
    height: 35px;
    text-align: center;
  }

  .items .messageQuantity{
    border: 1px solid red;
  }

  /* .items button{
    width: 25px;
  } */
  
  th {
    border-bottom: 1px solid #ccc;
  }
  
  td {
    border-bottom: 1px solid #eee;
  }

  .allPage{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  table {
    margin: 0 auto;
    display: block;
  }

  .allPage {
    width: 100%;
  }

  .allPage .boxes .col h4{
    color: #626262;
  }

  input[type="text"] {
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  tr:last-child td:first-child {
    font-weight: bold;
  }
  
  tr:last-child td:last-child {
    font-weight: bold;
    color: #f00;
  }

  img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .col{
    padding: 10px 20px;
    width: 250px;
    margin: 50px;
    background: #f7f7f7;
    height: 250px;
    /* border: 1px solid black; */
    border-radius: 10px;
  }

  .col tr td{
    font-weight: bold;
    color: black;
  }

  .col img{
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .col h4{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
  }

  .items h2{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    padding-top: 15px;
    color: black;
  }

  .boxes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .description{
    display: flex;
    justify-content: space-around;
  }

  button{
    height: 25px;
    width: 100px;
    cursor: pointer;
  }

  .allPage .boxes .col h4{
    padding-top: 7px;
  }

  .allPage .boxes .col img:hover{
    width: 110%;
    height: 110%;
  }

  .allPage .boxes .col .description p{
    padding-top: 10px;
    color: #626262;
  }

  .allPage .boxes .col .addToCart button{
    border: none;
    height: 30px;
  }

  .allPage .boxes .col .addToCart button:hover{
    background-color: #494949;
    color: #eee;
  }

  .nameAndPrice{
    padding-top: 5px;
  }

  .allPage{
    display: flex;
    justify-content: space-between
  }

  .searchInput{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .searchInput input{
    text-align: left;
  }

  .red-button td button{
    background-color: red;
    color: white;
  }

  .showAndHide{
    display: flex;
  }

  .showAndHide button{
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 3px;
    align-items: right;
  }

  .showAndHide .badge{
    font-weight: bold;
    color: red;
  }
  
  .showAndHide button:hover{
    background-color: #494949;
    color: #eee;
  }

  .productDetails{
    display: flex;
    margin-left: 450px;
  }

  .productDetails img{
    width: 400px;
    height: 400px;
    border-radius: 15px;
  }

  .descriptionForProduct{
    margin-left: 15px;
    display: inline;
  }

  .descriptionForProduct button{
    border-radius: 5px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
  }

  .descriptionForProduct button:hover{
    background-color: #494949;
    color: white;
  }

  .descriptionForProduct h2{
    color: black;
    padding-top: 50px;
  }

  .descriptionForProduct .desc{
    color: #a4a4a4;
    padding-top: 30px;
  }

  .descriptionForProduct .prodDetailsPrice{
    align-items: flex-end;
    color: black;
    padding-top: 190px;
  }

  .descriptionForProduct .prodDetailsPrice p{
    padding-bottom: 15px;
  }

  a{
    text-decoration: none;
    padding-top: 50px;
    color: #f00;
  }

  .mainContent{
    width: 100%;
    height: 100%;
  }

  i{
    align-items: right;
  }

  .emptying-basket{
    font-style: italic;
    font-weight: bold;
  }

  .countButton{
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 3px;
  }

  .countButton .badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

  .returnToHome{
    margin-top: 20px;
    margin-left: 450px;
  }

  .returnToHome button{
    border-radius: 5px;
    height: 40px;
    width: 175px;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
  }

  .returnToHome button:hover{
    background-color: #494949;
    color: rgb(255, 0, 0);
  }