body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
}

h3{
    margin-bottom: 15px;
}

.container{
    display: flex;
    margin: auto;
    border: 2px solid brown;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.item{
    width: 60%;
    padding: 20px;
}

.cart{
    width: 40%;
    padding: 20px;
    position: relative;
    border-left: 2px solid brown;
}