<h1>HOME PAGE</h1>
<div class="searchInput">
  <input type="text" ng-model="vm.name"  placeholder="Search">
  <button ng-click="vm.searchItem()"><i class="bi bi-search"></i></button>
  <!-- <input type="text" ng-model="searchText" ng-change="search()"> -->

</div>
<div class="allPage">
<div class="boxes">
	<div class="col" ng-repeat="product in vm.items">
		<img src="{{product.imageURL}}" alt="{{product.imageURL}}" ui-sref="productDetails({id:product.id})">
		<h4 ui-sref="productDetails({id:product.id})">{{product.name}}</h4>
		<div class="description">
			<div class="nameAndPrice">
				<p>Price: ${{product.price}}</p>
			</div>
		<div class="addToCart">
			<button ng-click="vm.addToCart(product)">Add To Cart</button>
		</div>
	</div>
</div>
</div>
<div class="showAndHide">
  <button ng-click="showCart = !showCart"><i class="bi bi-basket3-fill"></i></button>
</div>
<div class="items" ng-show="showCart">
    <h2>Basket</h2>
    <table>
      <tr>
        <th>Picture</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      <!-- <tr ng-repeat="item in vm.cartItems">
        <td><img src="{{ item.imageURL }}" alt="{{ item.imageURL }}"></td>
        <td>{{ item.name }}</td>
        <td>${{ item.price }}</td>
        <td><input type="number" ng-model="item.quantity" min="1" ng-change="vm.updateCart()"></td>
        <td>{{ item.quantity * item.price }}</td>
		    <td  id="removeItem"><button ng-click="vm.removeItem(item)" style="width: 40px; height: 40px;">Remove Item</button></td>
      </tr> -->
      <tr ng-repeat="item in vm.cart">
        <td><img src="{{ item.imageURL }}" alt="{{ item.imageURL }}"></td>
        <td>{{ item.name }}</td>
        <td>${{ item.price }}</td>
        <td><input type="number" ng-model="item.quantity" min="1" ng-change="vm.updateCart()"></td>
        <td>{{ item.quantity * item.price }}</td>
		    <td><button ng-click="vm.removeItem(item)" style="width: 40px; height: 40px;">Remove Item</button></td>
      </tr>
      <div id="red-button">
      <tr >
        <td></td>
        <td></td>
        <td><b>Total:</b></td>
        <td>${{ vm.cartTotal() }}</td>
        <td><button ng-click="vm.clearCart()" style="background-color: red; color: white;">Clear Cart</button></td>
      </tr>
    </div>
      <tr>
        <td></td>
        <td></td>
        <td><button ng-click="vm.completeOrder()" style="width: 90px; height: 40px;">Complete the Order</button></td>
      </tr>
    </table>
  </div>
</div>