<h1>HOME PAGE</h1>
<div class="searchInput">
  <input type="text" ng-model="vm.searchText" placeholder="Search" ng-change="vm.liveSearch()">
</div>
<div class="allPage">
<div class="boxes">
  <div class="col" ng-repeat="product in vm.items | filter:vm.searchItem">
		<img src="{{product.imageURL}}" alt="{{product.imageURL}}" ui-sref="productDetails({id:product.id})">
		<h4 ui-sref="productDetails({id:product.id})">{{product.name}}</h4>
		<div class="description">
				<p>Price: ${{product.price}}</p>
		<div class="addToCart">
			<button ng-click="vm.addToCart(product)">Add To Cart</button>
		</div>
	</div>
</div>
</div>
<div class="showAndHide">
  <button class="countButton" ng-click="showCart = !showCart"><i class="bi bi-basket3-fill"></i></button>
  <span class="badge">{{vm.cartTotalQuantity()}}</span>
</div>
<div class="items" ng-show="showCart">
    <h2>Basket</h2>
    <table>
      <tr>
        <th>Picture</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      <tr ng-if="!vm.isEmptyingBasket" ng-repeat="item in vm.cart">
        <td><img src="{{ item.imageURL }}" alt="{{ item.imageURL }}"></td>
        <td>{{ item.name }}</td>
        <td>${{ item.price }}</td>
        <td><input type="number" ng-model="item.quantity" ng-change="vm.updateQuantity(item)" ng-change="vm.updateCart()"></td>
        <td>{{ vm.totalItem(item) }}</td>
        <td><button ng-click="vm.removeItem(item)" style="margin-right: 10px;">Delete Item</td>     
        
      </tr>
      <tr ng-if="vm.isEmptyingBasket">
        <td colspan="6" class="emptying-basket">
          <i class="fa fa-spinner fa-spin"></i> Emptying basket...
        </td>
      </tr>
      <div id="red-button">
      <tr ng-if="!vm.isEmptyingBasket">
        <td class="messageQuantity" ng-if="vm.messageQuantity" colspan="2"><p>Quantity must be between 1 and 999</p></td>
        <td ng-if="!vm.messageQuantity" colspan="2"></td>
        <td><b>Total:</b></td>
        <td>${{ vm.cartTotal() }}</td>
        <td><button ng-click="vm.clearCart()">Clear Cart</button></td>
      </tr>
    </div>
      <tr>
        <td></td>
        <td></td>
        <td><button ng-click="vm.completeOrder()" style="width: 90px; height: 40px;">Complete the Order</button></td>
      </tr>
    </table>
  </div>
</div>