  <div class="items">
    <h2>Shopping Cart</h2>
    <input type="text">
    <table align="center">
      <tr>
        <th>Picture</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      <tr ng-repeat="item in vm.items">
        <td><img src="{{ item.imageURL }}" alt="" width="200px" height="200px"></td>
        <td>{{ item.name }}</td>
        <td>${{ item.price }}</td>
        <td><input type="number" ng-model="item.quantity" min="0" max="{{ item.stock }}" ng-change="vm.updateCart()"></td>
        <td>{{ item.quantity * item.price }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>Total:</b></td>
        <td>{{ vm.cartTotal() }}</td>
      </tr>
    </table>
  </div>
